@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';

.navbar {
    font-family: 'Sora';
    @apply relative z-50 flex flex-col items-center justify-center w-full bg-[var(--navbar-bg)] select-none;
}

.mobile-navbar-container {
    @apply w-full flex items-center justify-between md:hidden px-5 py-1;
}

.pc-navbar-container {
    @apply hidden md:flex;
}

.nav-btn {
    @apply flex px-1 py-1;
}

.logo-sec {
    font-family: 'Saira';
    @apply flex items-center gap-0 font-bold text-2xl tracking-wide cursor-pointer;
}

.logo-sec .part2 {
    @apply text-[var(--primary)];
}

.logo-sec img {
    @apply w-12 h-12;
}

.mobile-nav-menu {
    @apply rounded-b-3xl flex flex-col w-full py-5 absolute z-40 top-[100%] left-0 bg-[var(--navbar-bg)];
    /* animation: come-in 2s ease; */
}

@keyframes come-in {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0%)
    }
}

.mobile-nav-menu a {
    @apply flex items-center py-2 pl-5 cursor-pointer font-semibold;
}

.mobile-nav-menu a:hover {
    @apply text-[var(--accent)];
}

/* Smooth Bounce In Animation */
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translateY(200px);
    }

    50% {
        opacity: 1;
        transform: scale(1.05) translateY(-10px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.bounce-in {
    display: flex;
    animation: bounceIn 0.8s ease-out forwards;
}

/* Smooth Bounce Out Animation */
@keyframes bounceOut {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    20% {
        transform: scale(0.95) translateY(-5px);
    }

    50% {
        transform: scale(1.05) translateY(10px);
        opacity: 1;
    }

    70% {
        transform: scale(0.9) translateY(-20px);
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translateY(200px);
    }
}

.bounce-out {
    display: none;
    animation: bounceOut 0.8s ease-in forwards;
}


/* .logo-sec{
    @apply
}

.nav-links{
    @apply
}
 */