@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';

.navbar {
    font-family: 'Sora';
    @apply sticky top-0 left-0 z-50 flex flex-col items-center justify-center w-full bg-[var(--navbar-bg)] select-none;
}

.mobile-navbar-container {
    @apply w-full flex items-center justify-between md:hidden px-5 py-1;
}

.nav-buttons{
    @apply flex items-center gap-3;
}

.pc-navbar-container {
    @apply w-full max-w-7xl hidden md:flex items-center px-10 py-3 justify-between;
}

.nav-btn {
    @apply flex px-1 py-1;
}

.logo-sec {
    font-family: 'Saira';
    @apply flex items-center gap-0 font-bold text-2xl tracking-wide cursor-pointer;
}

.logo-sec .part2 {
    @apply text-[var(--primary)];
}

.logo-sec img {
    @apply w-12 h-12;
}

.mobile-nav-menu {
    @apply rounded-b-3xl flex flex-col w-full py-5 absolute z-40 top-[100%] left-0 bg-[var(--navbar-sidebar)];
}

@keyframes come-in {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0%)
    }
}

.mobile-nav-menu a {
    @apply flex items-center py-2 pl-5 cursor-pointer font-semibold;
}

.navbar a:hover:not(.btn){
    @apply text-[var(--accent)];
}

.nav-links{
    @apply flex items-center gap-4;
}