@import 'tailwindcss';

.stats-section{
    @apply w-full grid grid-cols-1 gap-10 py-10 sm:py-20 bg-[var(--secondary)];
}

.stats-text{
    @apply grid grid-cols-1 gap-5 md:grid-cols-2;
}

.stats-text h2{
    @apply  mb-10;
}

.stats-text p{
    @apply lg:text-xl
}

.start-cards{
    @apply grid grid-cols-1 gap-5 lg:grid-cols-3;
}

.stat-card{
    @apply border border-gray-600 rounded-xl p-10 flex flex-col gap-1;
}

.sc-head{
    @apply text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl font-bold mb-10 sm:mb-15 lg:mb-20;
}

.sc-title{
    @apply font-semibold text-2xl lg:text-3xl;
}

.sc-subtitle{
    @apply lg:text-xl;
}