@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js, ts, jsx, tsx}';
@config '../../tailwind.config.mjs';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-bg: #fef7d6;
    --navbar-secondary-text: #374151;
    --accent: #1E3A8A;
    --primary: #3b82f6;
    --light-text: #000;
    --dark-text: #fff;
    --light-dd: #B7410E;
    --dark-dd: #FF7F50;
    --light-h-dd: #99320C;
    --dark-h-dd: #E76E45;
    --light-third: #008080;
    --light-h-third: #006d6d;
    --dark-third: #007BA7;
    --light-link: #0000ff;
    --dark-link: #4ea1ff;
}

body {
    @apply flex flex-col antialiased text-base w-full h-full overflow-x-hidden ;
}

svg {
    @apply fill-(--light-text) dark:fill-(--dark-text);
}

.btn{
    @apply cp flex-center px-4 py-1.5 rounded-3xl font-semibold;
}

.btn.primary{
    @apply text-white bg-(--primary);
}

.btn.secondary{
    @apply text-black bg-transparent border border-black;
}

.btn.outlined{
    @apply border
}