@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js, ts, jsx, tsx}';
@config '../../tailwind.config.mjs';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-bg: #fef7d6;
    --navbar-sidebar: #fef3c7;
    --navbar-secondary-text: #374151;
    --accent: #1E3A8A;
    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --secondary: #d2e7f9;
    --light-text: #000;
    --dark-text: #fff;
    --light-dd: #B7410E;
    --dark-dd: #FF7F50;
    --light-h-dd: #99320C;
    --dark-h-dd: #E76E45;
    --light-third: #008080;
    --light-h-third: #006d6d;
    --dark-third: #007BA7;
    --light-link: #0000ff;
    --dark-link: #4ea1ff;
}

body {
    @apply flex flex-col antialiased text-base w-full h-full overflow-x-hidden;
}

svg {
    @apply fill-(--light-text) dark:fill-(--dark-text);
}

.btn {
    @apply cp flex-center px-4 py-1.5 rounded-3xl font-semibold;
}

.btn.primary {
    @apply text-white bg-(--primary);
}

.btn.primary:hover {
    @apply bg-(--primary-hover);
}

.btn.secondary {
    @apply text-black bg-transparent border border-black;
}

.btn.outlined {
    @apply border;
}

.consistent-padding-x {
    @apply px-10 sm:px-20 md:px-30 lg:px-40 xl:px-60;
}

h2{
    font-family: 'Space Mono';
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}