---
import { Navbar }from "../components/Navbar/Navbar";
// import Footer from "../components/Footer/Footer";
import "../styles/global.css";
import Head from "../SEO/Head.astro";
---

<html lang="en">
  <Head />
  <body>
    <Navbar client:only />
    <main class="main-body">
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
